{% if messages %}

    {% for message in messages %}
        <div id="message" class="container">
            <div class="alert alert-{{ message.tags }}" alert-dissmisible role="alert">
                <button class="close" type="button" data-dismiss="alert"><span class="" aria-hidden="True">&times;</span></button>
                <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Error:
                    {% else %}
                        {{ message.tags | title }}
                    {% endif %}
                </strong>
                {{ message }}
            </div>
        </div>
    {% endfor %}

{% endif %}